{{!--  // google auth  --}}
<h4><a href="/creationGoals" class="pg-link">CreationGoals</a></h4>
<a href="/auth/logout"><h5 class="pg-link logout">Logout<i class="fas fa-door-open log-icon"></i></h5></a>
<h5 class="pg-header">Dashboard</h5>
<h3 class="welcome">Welcome {{name}}</h3>
<h6 class="mini-header">Here are your goal creatioins:</h6>
{{#if creationGoals}}
<table class="striped">
    <thead class="btm-bdr-yellow">
        <tr>
            <th>#</th>
            <th>Date</th>
            <th>Goal</th>
            <th>Plan</th>            
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each creationGoals}}
        <tr>
            <td class="btm-bdr-yellow">{{creationNumber}}</td>
            <td class="btm-bdr-yellow">{{formatDate creationDate 'MMMM Do YYYY, h:mm:ss a'}}</td>            
            <td class="btm-bdr-yellow"><a class="goal-link" href="/creationGoals/{{_id}}">{{goal}}</a></td>
            <td class="btm-bdr-yellow">{{plan}}</td>
            
            
            <td class="btm-bdr-yellow"><span class="dash-status">{{status}}</span></td>
            <td class="btm-bdr-yellow">
                <a href="/creationGoals/edit/{{_id}}" class="btn btn-float">
                    <i class="fas fa-edit"></i>
                </a>

                <form action="/creationGoals/{{_id}}" method="POST" id="delete-form" class="inline-form">
                    {{!-- Used to replace POST with DELETE recognizing name of _method through method-override --}}
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn red">
                        <i class="fas fa-trash"></i>
                    </button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<p>You have no goals created</p>
{{/if}}