{{!--  // google auth  --}}
<h5 class="pg-header">Dashboard</h5>
<h3 class="welcome">Welcome {{name}}</h3>
<h6 class="mini-header">Here are your goal creatioins:</h6>
{{#if goalCreations}}
<table class="striped">
    <thead class="btm-bdr-yellow">
        <tr>
            <th>#</th>
            <th>Date</th>
            <th>Goal</th>
            <th>Plan</th>            
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each goalCreations}}
        <tr>
            <td class="btm-bdr-yellow">{{creationNumber}}</td>
            <td class="btm-bdr-yellow">{{formatDate creationDate 'MMMM Do YYYY, h:mm:ss a'}}</td>            
            <td class="btm-bdr-yellow"><a class="goal-link" href="/goalCreations/{{_id}}">{{goal}}</a></td>
            <td class="btm-bdr-yellow">{{plan}}</td>
            
            
            <td class="btm-bdr-yellow"><span class="dash-status">{{status}}</span></td>
            <td class="btm-bdr-yellow">
                <a href="/goalCreations/edit/{{_id}}" class="btn btn-float">
                    <i class="fas fa-edit"></i>
                </a>

                <form action="/goalCreations/{{_id}}" method="POST" id="delete-form">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn red">
                        <i class="fas fa-trash"></i>
                    </button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<p>You have no goals created</p>
{{/if}}