<h1>CreationGoals</h1>
<ul class="search-form">
    <li>    
        <form id="search-site"  action='/creationGoals/search/:query' method='get'>
            <div class="input-group">
                    <i class="fas fa-search fa-large" ></i>
                    <div class="unclosed-field">
                    <input id="search" type="search" name='query' placeholder="Search by goal">
                    <label class="label-icon" for="search">
                    </label>
                 </div>
                <button type="submit" class="input-group-addon btn">search</button>
            </div>

        </form>  
    </li>   
</ul>
<div class="row public-container">
    {{#each creationGoals}}
    <div class="col s12 m4 public-creationGoals">
        <div class="card">
            <div class="card-image">                           
                {{{editIcon user ../user _id}}}
            </div>
            <div class="card-content center-align public-table">
              <table>
                <tr> <th>#</th> <th>Date</th> <th>Goal</th> </tr>              
                <tr> <td>{{creationNumber}}</td> <td>{{formatDate creationDate 'MMMM Do YYYY'}}</td> <td>{{goal}}</td> </tr>
              </table>
              <table>
                <tr> <th>Motivator</th>  <td>{{motivator}}</td> </tr>
                <tr> <th>Desire</th>  <td>{{desire}}</td> </tr>               
                <tr> <th>Belief</th> <td>{{belief}}</td> </tr>
                <tr> <th>Knowledge</th> <td>{{knowledge}}</td> </tr> 
                <tr> <th>Plan</th> <td>{{plan}}</td> </tr>
                <tr> <th>Action</th> <td>{{action}}</td> </tr> 
                <tr> <th>Victory</th> <td>{{victory}}</td> </tr>
                <tr> <th>Status</th> <td>{{goal}}</td> </tr>
                {{!-- <p>{{stripTags (truncate body 150)}}</p> --}} 
              </table>           
              <div class="chip">
                  <img src="{{user.image}}" alt="">
                  <a href="/creationGoals/user/{{user._id}}">{{user.displayName}}</a>
              </div>
            </div>
            <div class="card-action center-align">
                <a href="/creationGoals/{{_id}}" class="btn grey">Read More</a>
            </div>
        </div>
    </div>
    {{else}}
    <p>No creationGoals to display</p>
    {{/each}}
</div>